@attribute [TestFixture]
@inherits BunitTestContext
@code {

    [Test]
    public void Alert_dismiss()
    {
        // Arrange
        var cut = Render(
            @<Alert 
                Kind="AlertKind.Primary" 
                Dismissible="true">
                <p>Ndc Port!</p>
            </Alert>);

        // Act
        cut.Find("[aria-label=Close]").Click();

        // Assert
        IRenderedComponent<Alert> component = cut.FindComponent<Alert>();
        Alert alert = component.Instance;
        Assert.True(alert.Dismissed);
    }

    // Markup should match this: 
    // https://getbootstrap.com/docs/5.3/components/alerts/#dismissing
    [Test]
    public void Alert_correct_markup_with_dismissal()
    {
        // Arrange
        var cut = Render(
            @<Alert 
                Kind="AlertKind.Warning" 
                Dismissible="true">
                <p>Ndc Port!</p>
            </Alert>);

        // Assert
        cut.MarkupMatches(
            @<div class="alert-dismissible fade show alert alert-warning" role="alert">
                <p>Ndc Port!</p>
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>);
    }

    [TestCase(AlertKind.None, true)]
    [TestCase(AlertKind.Primary, true)]
    [TestCase(AlertKind.Secondary, true)]
    [TestCase(AlertKind.Success, true)]
    [TestCase(AlertKind.Danger, true)]
    [TestCase(AlertKind.Warning, true)]
    [TestCase(AlertKind.Info, true)]
    [TestCase(AlertKind.Light, true)]
    [TestCase(AlertKind.Dark, true)]
    [TestCase(AlertKind.None, false)]
    [TestCase(AlertKind.Primary, false)]
    [TestCase(AlertKind.Secondary, false)]
    [TestCase(AlertKind.Success, false)]
    [TestCase(AlertKind.Danger, false)]
    [TestCase(AlertKind.Warning, false)]
    [TestCase(AlertKind.Info, false)]
    [TestCase(AlertKind.Light, false)]
    [TestCase(AlertKind.Dark, false)]
    public Task Alert_markup(AlertKind kind, bool dismissible)
    {
        // Arrange & act
        var cut = Render(
            @<Alert Kind="kind" Dismissible="dismissible">
                <p>CONTENT</p>
            </Alert>);
        
        // Assert
        return Verify(cut);
    }
}